# <과제1> 당뇨병 데이터 - 다중 회귀 

 - LR, SVR, RFR, XGR

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.datasets import load_diabetes # 당뇨병 데이터
diabetes = load_diabetes()
df  = pd.DataFrame(diabetes.data, columns = diabetes.feature_names )
df['target'] = diabetes.target
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [3]:
# train /test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(
    diabetes.data, diabetes.target, test_size=0.1, random_state=2022
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((397, 10), (45, 10), (397,), (45,))

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score , mean_squared_error
# 경고창 무시 
import warnings 
warnings.filterwarnings('ignore')

In [40]:
A = [LinearRegression, SVR, RandomForestRegressor, XGBRegressor ]
P = []

for i, a in enumerate(A):
  if i == 2 or i == 3:
    fit = a(random_state = 2022).fit(X_train,y_train)
  else:
    fit = a().fit(X_train,y_train)
  pred = fit.predict(X_test)
  r2 = r2_score(y_test, pred)
  mse = mean_squared_error(y_test, pred)

  P.append(pred)
  print(f'[ {a.__name__} ]\n - R2: {r2:.4f} | MSE : {mse:.4f} \n'  )

#  DataFrame 구조로 만들기
df = pd.DataFrame({
    'y_test':y_test, 'LR':P[0], 'SVR':P[1], 'RFR':P[2], 'XGB':P[3]
})
df.head()

[ LinearRegression ]
 - r2: 0.5944 | mse : 2391.6049

[ SVR ]
 - r2: 0.1632 | mse : 4933.6951

[ RandomForestRegressor ]
 - r2: 0.4899 | mse : 3007.3418

[07:29:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[ XGBRegressor ]
 - r2: 0.5028 | mse : 2931.6530

   y_test          LR         SVR      RF          XG
0    55.0   67.626360  129.028779  128.91  134.030640
1    96.0   56.439580  118.128113   74.58   70.088684
2   317.0  221.344882  149.680325  201.21  198.825928
3    40.0  137.305152  133.980151  126.51  100.756897
4   178.0  168.678201  149.156143  179.52  197.025894